
@font-face {
	font-family: 'Swiss721BT-Roman';
	src: url('../fonts/Swiss721BT-Roman.eot');
	src: url('Swiss721BT-Roman.eot?#iefix') format('embedded-opentype'),
		
		url('../fonts/Swiss721BT-Roman.woff') format('woff'),
		url('../fonts/Swiss721BT-Roman.ttf') format('truetype'),
		url('../fonts/Swiss721BT-Roman.svg#Swiss721BT-Roman') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Swiss721BT-Bold';

	src: url('../fonts/wiss721BT-Bold.eot');
	src: url('wiss721BT-Bold.eot?#iefix') format('embedded-opentype'),
		
		url('../fonts/Swiss721BT-Bold.woff') format('woff'),
		url('../fonts/Swiss721BT-Bold.ttf') format('truetype'),
		url('../fonts/Swiss721BT-Bold.svg#Swiss721BT-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'glyphicons-halflings-regular';

	src: url('../fonts/glyphicons-halflings-regular.eot');
	src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
		
		url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
	font-weight: normal;
	font-style: normal;
}
body{ 
font-family: 'Swiss721BT-Roman';font-weight: normal; font-size: 13px; color: #383838;
} 

.background{ width: 100%; float: left; background: #fff;}
.header{ width: 100%; float: left; background: rgba(255,255,255,0.7); margin: 5px 0px;}
.header_nav{width: 100%; float: left;}
.ts_logo{width: 100%; float: left;}
.tsgovt_logo{ width: 90px;
float: right;
position: relative;top: 3px;
}
.ts_prisons{width: 100%; float: left;position: relative;
top: 20px;left: 10px;}
.ts_prisons .prisons_txt{color:#040095;float:left; width: 100%; font-size: 35px;text-shadow: 0 1px 0 #f1f1f1, 0 1px 0 #f1f1f1, 0 0px 0 #f1f1f1, 0 2px 0 #f1f1f1, 0 4px 0 #f1f1f1, 0 6px 1px rgba(255,255,255,.1), 0 0 5px rgba(255,255,255,.1), 0 1px 3px rgba(255,255,255,.3), 0 3px 5px rgba(255,255,255,.2), 0 5px 10px rgba(255,255,255,.25), 0 10px 10px rgba(255,255,255,.2), 0 20px 20px rgba(255,255,255,.15);}.prisons_logo{ width: 100%; float: left;}
.prisons_logo .tsprisons_logo{ width: 90px; float: left;}
.navigation{ float: left; width: 100%; background:#737373;}
.banner{width: 100%; float: left;}

/*--- Banner----*/

.jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }

        /*jssor slider bullet skin 111 css*/
        .jssorb111 .i {position:absolute;color:#fff;font-family:"Helvetica neue",Helvetica,Arial,sans-serif;text-align:center;cursor:pointer;z-index:0;}
        .jssorb111 .i .n {display:none;}
        .jssorb111 .i .b {fill:#fff;stroke:#000;stroke-width:500;stroke-miterlimit:10;stroke-opacity:.5;}
        .jssorb111 .i:hover .b {fill:#fea900;stroke:#fea900;stroke-width:6000;stroke-opacity:1;}
        .jssorb111 .iav .b {fill:#000;stroke-width:6000;stroke-opacity:1;}
        .jssorb111 .i.idn {opacity:.3;}
        .jssorb111 .iav .n, .jssorb111 .i:hover .n {display:block;}

        /*jssor slider thumbnail skin 121 css*/
        .jssort121 .p {position:absolute;top:0;left:0;border-bottom:1px solid rgba(255,255,255,.2);box-sizing:border-box;color:#fff;background:rgba(0,0,0,.3);opacity:.9;}
        .jssort121 .p .t {position:absolute;padding:10px;box-sizing:border-box;top:0;left:0;width:100%;height:100%;line-height:24px;overflow:hidden;}
        .jssort121 .p .i {margin-right:10px;position:relative;top:0;left:0;width:60px;height:48px;border:none;float:left;}
        .jssort121 .pav, .jssort121 .p:hover {color:#000;background:rgba(255,255,255,.7);}
        .jssort121 .p:hover {opacity:.75;}
        .jssort121 .pav, .jssort121 .p:hover.pdn {opacity:1;}
        .jssort121 .ti {position:relative;font-size:13px;}
        .jssort121 .d {position:relative;font-size:11px;color: #088bee;}
        .jssort121 .dd {position:relative;font-size:11px;color: #1dca57;}
/*--------Workrea--------*/
.hovereffect {
  width: 90%;
  height:130px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #040095;    left: 10px;    border-radius: 15px;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding:20px 10px;background: rgba(0,0,0,0.6);
}
.hovereffect .mission_overlay{ background: #f4c20d;}
.hovereffect .vision_overlay{ background: #029594;}
.hovereffect .goal_overlay{ background: #4885ed;}
.hovereffect .value_overlay{ background: #3cba54;}
.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.6;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;font-family: 'Swiss721BT-Bold';top:-20px;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);margin-top:-20px;
}
.hovereffect:hover .abt_cntnt{ display: none;}
.abt_cntnt{color: #f1f1f1;position:relative;top:-20px;}

.workarea{width: 100%; float: left;background: #fff;padding:50px 0px 40px;}
.welcome{width: 100%; float: left; padding:15px 25px;position: relative;}
.welcome h6{font-family: 'Swiss721BT-Bold'; font-size: 20px;width: 100%;
float: left; color: #040095; margin: 0px 0px 20px 0px; }
.welcome_cnt{ float: left; width: 100%;padding-left: 350px;
padding-right: 35px;}
.welcome_cnt p{ float: left; width: 100%; color: #737373; font-size: 14px;}
.ad_pic{ width: 25%; float: left;position: absolute;
top: 25px;
left: 50px;}
.item img{ width: 100%;
height: 250px !important;}
.carousel-indicators{ bottom: 0px !important;}

.about_mre{ float: left; width: 100%;background:#777777b5;padding: 30px 0px;}
.abt_wrkarea{float: left; width: 100%;padding: 20px 40px 30px;}
.abt_wrkarea h6{font-family: 'Swiss721BT-Bold'; font-size: 20px;width: 100%;
float: left; color: #040095; margin: 0px 0px 40px 0px; text-align: center;}
.footer{ width: 100%; float: left;}
.footer span{ text-align: center;
width: 100%;
float: right;
color: #737373;
padding: 15px 0px;
position: relative;
right: 40px;}


/*-----About Us -----*/
.inner_banner{ width: 100%; float: left;}
.abt_wrkara{ float: left; width: 100%;margin: 40px 0px 35px;}
.abtus_heading{float: left; width: 100%; }
.abtus_heading h6{
    font-family: 'Swiss721BT-Bold';
font-size: 20px;
width: 100%;
float: left;
color: #040095;
margin: 0px 0px 20px 0px;text-align: center;
}
.abtus_heading p{width: 100%; float: left;color: #737373;
font-size: 14px;    text-align: center;}
.about_cntnt{ width: 100%; float: left; padding: 20px 20px 15px 20px;}
.about_cntnt p{width: 100%; float: left;color: #737373;
font-size: 14px;margin-bottom: 10px;}
.about_cntnt b{font-family: 'Swiss721BT-Bold';width: 100%;float: left;font-weight: normal;
font-size: 15px;
color: #525252;margin-bottom: 20px;}
.tab_wrkarea{ width: 100%; float: left; padding: 0px 15px;margin-top: 30px;}
.jssort121{ width: 190px !important;}
.z-container{ min-height: 350px !important; max-height: 350px !important; overflow-y: scroll !important;}
@media screen and (max-width:1199px) and (min-width:992px){
  .ts_prisons .prisons_txt{ font-size: 29px;}  
    .ts_prisons{top: 25px;
left: 0px;}
    .ad_pic{    width: 270px;
    left: 30px;}
    .welcome_cnt{    padding-left: 310px;padding-right:0px; }
}
@media screen and (max-width:992px) and (min-width:768px){
  .ts_prisons .prisons_txt{ font-size: 24px;}  
    .ts_prisons{top: 30px;
left: 0px;}
    .prison_padding{ padding: 0px;}
      .ad_pic{    width: 270px;
    left: 30px;}
       .welcome_cnt{    padding-left: 310px;padding-right:0px; }
}
@media screen and (max-width:767px)and (min-width:474px) {
    .jssort121{ display: none;}
    .ts_logo{ display: none;}
    .ts_prisons{padding-left:75px; }
    .prisons_logo{    margin-top: -30px;}
    .ts_prisons .prisons_txt{    font-size: 17px;}
    .header{    margin: 5px 0px 0px;}
    .prisons_logo .tsprisons_logo{    width: 80px;}
    .ts_prisons{    top: 25px;}
}

@media screen and (max-width:767px){
    .ad_pic{ display: none;}
    .welcome_cnt{ padding: 0px;}
    .workarea{    padding: 25px 0px 20px;}
    .about_mre{    padding: 15px 0px 0px;}
    .hovereffect{    left: 50%;
    margin-left: -155px;
    margin-bottom: 30px;    width: 290px;}
    .abt_wrkarea{     padding: 20px 0px 20px;}
    .about_cntnt{ padding: 0px;}
}
@media screen and (max-width:1199px)and (min-width:992px) {
    
    .container-tab{ width: 100%;}
    .hovereffect{ width: 100%; left: 0px;}
    .abt_wrkarea{    padding: 20px 20px 30px;}
}
@media screen and (max-width:991px)and (min-width:768px) {
    .hovereffect{ margin-bottom: 40px;}
    .about_mre{    padding: 30px 0px 0px;}
}
@media screen and (max-width:473px) {
  .jssort121{ display: none;}
    .ts_logo{ display: none;}
    .ts_prisons{padding-left:75px; }
    .prisons_logo{    margin-top: -55px;}
    .ts_prisons .prisons_txt{    font-size: 17px;}
    .header{    margin: 5px 0px 0px;}
    .prisons_logo .tsprisons_logo{    width: 80px;}
    .ts_prisons{    top: 10px;}   
    .hovereffect{    left: 50%;
    margin-left: -135px;
    margin-bottom: 30px;    width: 270px;}
}

.z-container{ min-height: 350px !important; max-height: 350px !important; overflow-y: scroll !important;}

.panel-body h4{ width: 100%; color: #737373; font-size: 15px; float: left;}
.panel-body p{width: 100%; float: left; font-size: 13px;}
.panel-body p span{width: 100%; float: left;font-size: 13px; margin-bottom:3px;}
.panel-info > .panel-heading{ background-image: none !important;

font-size: 14px;background: #eee !important;
color: #333 !important;}

.panel-body h4{ width: 100%; color: #737373; font-size: 15px; float: left;}
.highlight{background: #136FB7 !important; color: #fff !important;}
.contactusworkarea {
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  -o-box-shadow: 0 0 10px rgba(0,0,0,0.6);
  padding: 30px;
  margin-bottom: 40px;
  border-radius: 5px;
}
.listofjails {
  margin: 20px -15px 0px;
}
.gallery_wrkarea{ float: left; width: 100%;}
.contact_heading{font-family: 'Swiss721BT-Bold';
font-size: 24px;
width: 100%;
float: left;
color: #040095;
margin:25px 0px 0px 0px;
text-align: center;}
.quick_cantct{ margin-top: 30px;}
.contact_map{ margin-top: 30px; }
.gallery_banner{ float: left; width: 100%;}
.gallery_area{ float: left; width: 100%;}
.gallery_area h6{font-family: 'Swiss721BT-Bold';

text-align: center;
font-size: 24px;
width: 100%;
float: left;
color: #040095;
margin: 25px 0px 0px 0px;
}

.imgContainer {
 width: 21%;
height: 200px;
  overflow: hidden;
  text-align: center;
  margin: 11px 20px 25px 22px;
  float: left;

  display: block;
}
.imgContainer:hover{

 -webkit-box-shadow: -3px 3px 10px 1px #777;
    -moz-box-shadow: -3px 3px 10px 1px #777;
         box-shadow: -3px 3px 10px 1px #777;
   
}
.imgContainer img{ width: 100%; height: 100%;}
#galleryTab {
  margin: 10px 5px 20px 0;
  top: 26px;
  width:100%;
}

.fliter_color {
  border: 1px solid #ccc;
  color: #333333;
  float: left;
  font-size: 13px;
  margin: 0 12px 0 0;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
 -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
         border-radius: 3px;
}
.fliter_color:hover {
  background-color: #f8f8f8;
 -webkit-box-shadow: -2px 2px 5px 1px #a3a3a3;
    -moz-box-shadow: -2px 2px 5px 1px #a3a3a3;
         box-shadow: -2px 2px 5px 1px #a3a3a3;
  margin: -1px 11px 1px 1px;
  border-bottom: solid 1px #aaa;
  border-left: solid 1px #aaa; text-decoration: none; color: #737373;
}
.fliter_color.active {
  background-color: #737373;
   text-decoration: none;
  color: #fff;
  cursor: default;
  margin: 0 12px 0 0;
 -webkit-box-shadow: none;
    -moz-box-shadow: none;
         box-shadow: none;  
}


/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('fancybox_sprite.png');
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('fancybox_loading.gif') center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('blank.gif'); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: hidden !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url("../images/fancybox_overlay.png");
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	        border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url('fancybox_sprite@2x.png');
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url('fancybox_loading@2x.gif');
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}

#fancybox-buttons {
	position: fixed;
	left: 0;
	width: 100%;
	z-index: 8050;
}

#fancybox-buttons.top {
	top: 10px;
}

#fancybox-buttons.bottom {
	bottom: 10px;
}

#fancybox-buttons ul {
	display: block;
	width: 130px;
	height: 30px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	border: 1px solid #111;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,.05);
	   -moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,.05);
	        box-shadow: inset 0 0 0 1px rgba(255,255,255,.05);
	background: rgb(50,50,50);
	background: -moz-linear-gradient(top, rgb(68,68,68) 0%, rgb(52,52,52) 50%, rgb(41,41,41) 50%, rgb(51,51,51) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(68,68,68)), color-stop(50%,rgb(52,52,52)), color-stop(50%,rgb(41,41,41)), color-stop(100%,rgb(51,51,51)));
	background: -webkit-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
	background: -o-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
	background: -ms-linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
	background: linear-gradient(top, rgb(68,68,68) 0%,rgb(52,52,52) 50%,rgb(41,41,41) 50%,rgb(51,51,51) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#222222',GradientType=0 );
}

#fancybox-buttons ul li {
	float: left;
	margin: 0;
	padding: 0;
}

#fancybox-buttons a {
	display: block;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	background-color: transparent;
	background-image: url('../images/fancybox_buttons.png');
	background-repeat: no-repeat;
	outline: none;
	opacity: 0.8;
}

#fancybox-buttons a:hover {
	opacity: 1;
}

#fancybox-buttons a.btnPrev {
	background-position: 5px 0;
}

#fancybox-buttons a.btnNext {
	background-position: -33px 0;
	border-right: 1px solid #3e3e3e;
}

#fancybox-buttons a.btnPlay {
	background-position: 0 -30px;
}

#fancybox-buttons a.btnPlayOn {
	background-position: -30px -30px;
}

#fancybox-buttons a.btnToggle {
	background-position: 3px -60px;
	border-left: 1px solid #111;
	border-right: 1px solid #3e3e3e;
	width: 35px ; display: none;
}

#fancybox-buttons a.btnToggleOn {
	background-position: -27px -60px;
}

#fancybox-buttons a.btnClose {
	border-left: 1px solid #111;
	width: 35px;
	background-position: -56px 0px;
}

#fancybox-buttons a.btnDisabled {
	opacity : 0.4;
	cursor: default;
}

.floater{ right: 0px ;position: fixed;top:320px; background: #040095; z-index: 2;cursor: pointer;}
.floater img{padding: 8px;
width: 40px;}
.newsnote{    right: 0px;
    position: fixed;
    top: 230px;
    background: #040095;
    z-index: 2;cursor: pointer;}
.newsnote img{padding: 8px;
width: 40px;}
.dir_mess{ width: 100%;}
.dir_mess h2{width: 100%;
text-align: center;font-family: 'Swiss721BT-Bold';font-weight: normal;
font-size: 20px;color: #737373;
margin: 20px 0px;
margin-top: 0px; }
.modal-dialog{ width: 750px;}
.director{width: 100%;}
.director .dir_img{width: 700px;
    float: left;
    margin-left: 4px;
    height: 400px;}
.message{     float: left;
    width: 100%;
    margin-top: 30px;
   text-align: center;}
.modal-content{padding: 20px;width: 100%;
    float: left;}

.quicknote{ right: 0px ;position: fixed;top:275px; background: #040095; z-index: 2;cursor: pointer;}
.quicknote img{padding: 8px;
width: 40px;}
.qucik_form{ background: #fff; right: 0px;}
.qucik_form p{font-family: 'Swiss721BT-Bold';font-weight: normal; padding:10px; margin: 0px;font-size: 20px; text-align: center;font-size: 20px;
color: #737373;}
.form_label{ float: left; width: 100%; color: #737373; font-weight: normal;}
.contact_form{ padding:15px;padding-bottom: 40px;}
.contct_btn{float: right;
color: #fff;
background: #737373;
font-weight: normal;
text-shadow: none;
border: none;
padding: 5px 15px;margin: 7px 0px 20px 3px;}
.contct_btn:hover{ background: #d0a669; color: #fff;}



@media screen and (max-width:1199px)and (min-width:992px) {
    .imgContainer{width: 28%;}
}
@media screen and (max-width:991px)and (min-width:768px) {
    .imgContainer
    .modal-dialog{    width: 27%;
    height: 185px;}
}
@media screen and (max-width:767px)and (min-width:1px) {
 .director .dir_img{ position: relative;
width: 100%;
left: 0px;
margin-bottom: 30px;}
 .message{ width: 100%; padding-left: 0px; min-height: auto;}
 .modal-dialog{ width: 95%;}
 .panel-group .panel{ margin: 15px 0px}
 .imgContainer {
    width: 50%;
    height: auto; margin: 0px;}
 .imgContainer img {
    width: 100%;
    padding: 15px;}
}
@media screen and (max-width:560px)and (min-width:1px) {
  .imgContainer {
    width:100%;
    height: auto; margin: 0px;}  
  .fliter_color.active{margin: 0 12px 11px 0;    padding: 10px 15px; }
  .fliter_color{    display: block;
    width: 100%;margin: 0 12px 11px 0;padding: 10px 15px; }
  .fliter_color:hover{ margin: 0 12px 11px 0; border: 0px;}
}

main{ width: 100%; float:left;margin: 40px 0px 20px;}
.highlights{font-family: 'Swiss721BT-Bold';
font-size: 20px;
width: 100%;
float: left;
color: #040095;
margin: 0px 0px 20px 0px;
text-align: center;}

.ddd {border:1px solid #7777774f;margin-top: 40px;}
.ddds {border:1px solid #7777774f;margin-bottom: 43px !important;}
.dddd {margin-top: -30px;
    margin-left: 15px;
    color: #737373;
    font-size: 16px;
    margin-bottom: -20px;}
/*---timeline-code---*/
.timeline_sec{ width: 100%; float: left;background-color:#e8e8e8;}
.timeline_sec h6{
font-family: 'Swiss721BT-Bold';
font-size: 20px;
width: 100%;
float: left;
color: #040095;
margin: 0px 0px 40px 0px;
text-align: center;text-shadow: 0 1px 0 #f1f1f1, 0 1px 0 #f1f1f1, 0 0px 0 #f1f1f1, 0 2px 0 #f1f1f1, 0 4px 0 #f1f1f1, 0 6px 1px rgba(255,255,255,.1), 0 0 5px rgba(255,255,255,.1), 0 1px 3px rgba(255,255,255,.3), 0 3px 5px rgba(255,255,255,.2), 0 5px 10px rgba(255,255,255,.25), 0 10px 10px rgba(255,255,255,.2), 0 20px 20px rgba(255,255,255,.15);}
.page-section{float:left; width: 100%;margin-top: 40px;}

/*-------------------------Admin Setup-------------*/
.admin_wrkarea{ width: 100%; float: left; margin-top:10px;}
.about_page {font-size: 14px;
    text-align: center;
    margin-bottom: 20px;}
.admin_wrkarea h6{font-family: 'Swiss721BT-Bold';
font-size: 20px;
width: 100%;
float: left;
color: #040095;
text-align: center;}
.prisons-card {
	border: 1px solid #e6e5e5;
    border-radius: 5px;
}
.prisons-card:hover {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}
.prisons-card .card-body {
	padding: 15px;
	min-height: 130px;
}
.card-content {
	width: 75%;
	float: left;
}
.card-image {
	width: 25%;
	float: left;
}
.panel-info {
    border-color: #ccc !important;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ccc !important;
}
.ddd_tabs li {border-right: 1px solid;}
ul.ddd_tabs {
	width: 100%;
    float: left;
}
.panel-headings {padding: 10px 15px 0px !important;}
.panel-headings h4 {position: relative;
    top: 3px;}
.horizontal_Tab {margin-top:40px !important;}
.arrow_control {    
    font-size: 20px;
    position: relative;
    left: 10px;
    top: -1px;
}
.background_content {
	float: left;
    width: 100%;
    background: #eeeeee3b;
    padding: 30px;
    position: relative;
    top: -3px;
}
.background_content2 {
    float: left;
    width: 100%;
    background: #fff;
    padding: 30px;
    position: relative;
    top: -3px;
}
.background_content3 {
    width: 100%;
    background: #fff;
    padding: 15px;
    margin-left: 1px !important;
}
.resp-tabs-contant {
	min-height: 817px !important;
	width: 80% !important;

}
.tabs_content {
    width: 20% !important;
}
.resp-tabs-contants {
	min-height: 664px !important;
	width: 80% !important;

}
.responsive_tabs_content {
    min-height: 290px !important;
    width: 80% !important;
}
.margin_news {
	    margin-right: 5px;
}
.demo1 {
	height:auto !important;
}